/*
 * @Author: cbsjz (cbsjz@qq.com) 
 * @Date: 2021-04-28 15:31:12 
 * @Last Modified by: cbsjz
 * @Last Modified time: 2021-04-28 19:24:53
 */

/* header */
header {
}

.header {
    display: inline-block;
}
/* header_left */
.header_left {
    float: left;
}

    .header_left_logo {
        
    }

    .header_left_id {

    }
/* header_right */
.header_right {
    display: flex;
	justify-content: flex-end;
}

.header_right nav{
    list-style: none;
    
}
