/*
 * @Author: cbsjz (cbsjz@qq.com)
 * @Date: 2021-04-30 03:37:00 
 * @Last Modified by: cbsjz (cbsjz@qq.com)
 * @Last Modified time: 2021-04-30 04:12:16
 */

/* header */

:root {
    --header-text-size: 24px;
    --header-text-coler: #006dfe;
}

header {
    box-shadow: 0 0 18px rgba(0, 0, 0, .5);
}

.header {
    display: inline-block;
    height: 50px;
}

.header a {
    text-decoration: none;
    color: var(--header-text-coler);
}
/* header_left */
.header_left {
    /* float: left; */
}

    .header_left_logo {
        width: 50px;
    }

        .header_left_logo img {
            width: 100%;
            height: 100%;
        }

    .header_left_id {
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        size: var(--header-text-size);
        color: var(--header-text-coler);
        font-weight: bold;
    }
/* header_right */
.header_right {
    float: right;
}

    .header_right nav {
        list-style: none;
    }

    .header_menu {
        display: inline-block;
    }
        
    .header_menu:hover .header_menu-hidden {
        display: block;
    }
    
    .header_menu-hidden {
        display: none;
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #888888;
        position: absolute;
        z-index: 1;
    }

        .header_menu-hidden a {
            display: block;
        }