/*
 * @Author: cbsjz (cbsjz@qq.com)
 * @Date: 2021-04-30 03:37:00 
 * @Last Modified by: cbsjz (cbsjz@qq.com)
 * @Last Modified time: 2021-04-30 04:12:16
 */

/* header */

:root {
    --header-text-coler: #006dfe;
    --header-text-font-size: 20px;
    --header-text-font-weight: bold;
}

header {
    box-shadow: 0 0 18px rgba(0, 0, 0, .2);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}

.header {
    display: inline-block;
}

.header a {
    text-decoration: none;
    color: black;
}
/* header_left */
.header_left {
    display: flex;
    align-items: center;
}

    .header_left_logo {
        width: 40px;
        height: 40px;
    }

        .header_left_logo img {
            width: 100%;
            height: 100%;
        }

    .header_left_id {
        padding: 0 10px;
        font-size: var(--header-text-font-size) !important;
        color: var(--header-text-coler);
        font-weight: var(--header-text-font-weight);
    }
/* header_right */
.header_right {
    display: flex;
    align-items: center;
}
    .header_menu {
        display: inline-block;
        padding: 0 15px;
    }

    .header_nav_font {
        color: var(--header-text-coler) !important;
        font-size: var(--header-text-font-size);
        /* font-weight: var(--header-text-font-weight); */
    }
        
    .header_menu:hover .header_menu-hidden {
        display: block;
    }
    
    .header_menu-hidden {
        display: none;
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #888888;
        position: absolute;
        z-index: 1;
    }

        .header_menu-hidden a {
            display: block;
            padding: 3px 5px;
        }