/*
 * @Author: cbsjz (cbsjz@qq.com) 
 * @Date: 2021-05-07 11:46:38 
 * @Last Modified by: cbsjz
 * @Last Modified time: 2021-05-10 02:27:42
 */

:root {
    --home-text-color: #006dfe;
    --home-textA-font-size: 48px;
    --home-textB-font-size: 24px;
    --home-text-font-weight: bold;
}

main {
    /* width: 100%; */
    /* border: 1px solid black; */
    height: 800px;
}

.home-main-page {
	display: flex;
    justify-content: space-evenly;
}

.home-main-page-a {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-main-page-a-h {
    color: var(--home-text-color);
    font-size: var(--home-textA-font-size);
    font-weight: var(--home-text-font-weight);
}

.home-main-page-a-list {
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.home-main-page-a-list a {
    text-decoration: none;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.home-main-page-a-list embed {
    width: 24px;
    height: 22px;
    fill: #4093f6;
}

.home-main-page-b {
    /* width: 50vw;
    height: 60vh; */
    display: flex;
    justify-content: center;
    /* border: 1px solid black;
    border-radius: 50px; */
}