/*
 * @Author: cbsjz (cbsjz@qq.com) 
 * @Date: 2021-05-07 11:46:38 
 * @Last Modified by: cbsjz
 * @Last Modified time: 2021-05-07 11:54:43
 */

 main {
     
 }

 .home-main-page {
     display: flex;
     justify-items: center;
 }