/*
 * @Author: cbsjz (cbsjz@qq.com) 
 * @Date: 2021-05-07 11:46:38 
 * @Last Modified by: cbsjz
 * @Last Modified time: 2021-05-10 02:27:42
 */

:root {
    --home-textH-color: #006dfe;
    --home-text-color: #8c99ab;
    --home-textA-font-size: 48px;
    --home-textB-font-size: 20px;
    --home-text-font-weight: bold;
}

main {
    /* width: 100%; */
    /* border: 1px solid black; */
    height: 800px;
}

.home-page {
	display: grid;
    grid-template-columns:  1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 80%;
}

.home-page-a {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-page-a > * {
    margin: 15px 0;
}

#home-page-a-h {
    color: var(--home-textH-color);
    font-size: var(--home-textA-font-size);
    font-weight: var(--home-text-font-weight);
}

#home-page-a-span {
    color: var(--home-text-color);
    font-size: var(--home-textB-font-size);
}

.home-page-a-list > * {
    /* margin: 50px 0; */
    /* display: flex;
    justify-content: flex-start; */
    margin: 0 10px;
}

.home-page-a-list a {
    text-decoration: none;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.home-page-a-list a:hover {
    filter: contrast(200%);
    
}

.home-page-a-list embed {
    width: 24px;
    height: 22px;
    fill: #4093f6;
}

.home-page-b {
    width: 40%;
    height: 800px;
}

#bongo-cat {
    display: inline-block;
    /* transform: scale(1); */
    position: relative;
    left: -200px;
    top: 50px; 
    /* top: 100px; */
}